## Class and Instance Attributes

In [33]:
class Car:
    wheels = 4
    windows = 4
    def __init__(self,car_type,price,name):
        self.type = car_type
        self.price = price
        self.name = name
        
    def start_car(self):
        print("Ignition onn")
        
    def __str__(self):
        return f"{self.name} is of type {self.type} and costs {self.price}"

## Instantiate an object

In [34]:
honda = Car('SUV',12000,'Honda')

In [35]:
honda.name

'Honda'

In [36]:
honda.type

'SUV'

In [37]:
honda.price

12000

## Dunder methods

In [38]:
honda.start_car()

Ignition onn

In [39]:
print(honda)

Honda is of type SUV and costs 12000

In [107]:
class BMW(Car):
    engine_type = 'BMW Model 1'
    _processor = 'Advanced Version 11'
    def start_car(self):
        print(str(self.name) + " Ignition Onn" )

In [108]:
model_1 = BMW('Sedan',1500,'BMW Model 1')
print(model_1)

BMW Model 1 is of type Sedan and costs 1500

In [86]:
model_1.start_car()

BMW Model 1 Ignition Onn

## Multiple Inheritence and Class Method

In [141]:
class BMW_model2(BMW):
    engine_type = 'BMW Model 2'
    @classmethod
    def features(self):
        print(super().engine_type, super().wheels, super().windows)
    def __init__(self,car_type,price,name,piston_type):
        super().__init__(car_type,price,name)
        self.__piston_type = piston_type

In [142]:
model_2 = BMW_model2('HatchBack',8000,'Model-2','Type2')

In [143]:
model_2.engine_type

'BMW Model 2'

In [144]:
BMW_model2.features()

BMW Model 1 4 4

In [145]:
model_2._processor

'Advanced Version 11'

## Public Private and Protected members

### Public class

In [147]:
class Student:
    school_name = 'XYZ'
    def __init__(self,name,age):
        self.name = name
        self.age = age

In [148]:
student1 = Student('Student1',10)

In [149]:
print(student1.school_name, student1.name, student1.age)

XYZ Student1 10

In [150]:
student1.age = 50

In [151]:
print(student1.school_name, student1.name, student1.age)

XYZ Student1 50

### Protected Class

In [164]:
class Student:
    _school_name = 'XYZ'
    def __init__(self,name,age):
        self._name = name
        self._age = age
    @property
    def name(self):
        return self._name
    @name.setter
    def name(self,newname):
        self._name = newname

In [165]:
student2 = Student('Student2',12)

In [166]:
student2._age

12

In [167]:
student2._age = 10
student2._age

10

# Private Class

In [168]:
class Student:
    __school_name = 'XYZ'
    def __init__(self,name,age):
        self.__name = name
        self.__age = age

In [169]:
student3= Student('Student3','14')

In [170]:
print(student3.__name)

AttributeError: 'Student' object has no attribute '__name'

In [171]:
student3._Student__age

'14'

In [172]:
student3._Student__age = 10
student3._Student__age

10